.wrapper {
    display: grid;
    border: 4px solid black;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    background-color: rgb(219, 252, 146);
}

.wrapper > div {
    border: 2px solid black;
    border-radius: 2px;
    background-color: rgb(247, 172, 246);
    padding: 5px;
}
