body{
    
  background-color: #cfcfcf;
  font-family: Arial, sans-serif;
  text-align: center;

}
.container{
    display:flex;
    flex-direction: row;
    background-color: rgb(254, 139, 204);
    padding: 20px;
    border: 1px solid #ccc;
}
.box{
    background-color: bisque;
    color: black;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.box1 { background-color: rgb(45, 135, 214);}
.box2 { background-color:rgb(12, 180, 231);}
.box3 { background-color:rgb(11, 163, 145);}
.box4 { background-color:rgb(12, 228, 55);}
.box5 { background-color:rgb(159, 230, 6);}
