

body {
  background-color: #07cd43;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #000;
  margin-bottom: 30px;
}

.product-card {
  background-color: hsl(0, 0%, 100%);
  width: 250px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #180505;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.product-card img {
  width: 100%;
  border-radius: 100px;
}

.product-card h2 {
  color: #000000;
  font-size: 18px;
  margin: 10px 0 5px;
}

.product-card p {
  color: #da1717;
  font-size: 14px;
  margin: 5px 0;
}


button {
  background-color: rgb(85, 85, 224);
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(78, 191, 244);
}